[I/O]
source_file = /Users/Christina/DES/data/uniform_sva1_redmagic.fits
#/Users/Christina/DES/data/sva1_gold_ra_dec.fits
#'/Users/Christina/DES/data/y1a1_gold_d04.fits'

lens_file = /home/ckrawiec/DES/data/redmagic_sva1_public_v6.3_faint.fits
#/Users/Christina/DES/data/y1a1_gold_1.0.2b-full_redmapper_v6.4.11_redmagic_highdens_0.5-10.fit

source_random_file = /Users/Christina/DES/data/balrog_sva1_auto_SIM_J2000.fits
lens_random_file =
#/Users/Christina/DES/data/redmapper_sva1-expanded_public_v6.3_randoms.fits.gz

lens_weight_file = /Users/Christina/DES/data/redmagic_v6.2.15_fracdet_nside4096_map.fit.gz

output = /Users/Christina/DES/data/uniform_sva1_redmagic

[Columns]
#column names - must have same units for now
source_ra = RA
source_dec = DEC

lens_ra = RA
lens_dec = DEC

source_random_ra = ALPHAMODEL_J2000_G
source_random_dec = DELTAMODEL_J2000_G

lens_random_ra = RA
lens_random_dec = DEC
