#config parameters

template_file = 
target_file = 
output_file = args[3]

debug_file = os.path.splitext(output_file)[0]+'_debug.fits'

debug = True
N_debug = 300
z_debug = [0.001, 9.9]

num_threads = 4

ptype = 'tree' #full or tree integration
k_near = 10000 #nearest neighbors if ptype=tree
data_type = 'FLUX' #MAG or FLUX
data_column = 'AUTO' #AUTO or DETMODEL
error_column
z_column = 'photoz'
id_column

filters = 'GRIZ'

#groups
z_groups = [[0.001, 0.5],
            [0.5, 1.0], 
            [1.0, 2.0], 
            [2.0, 3.0],
            [3.0, 4.0],
            [4.0, 5.0],
            [5.0, 9.9]]

start_index = int(args[4])
end_index = int(args[5])
start_index = 0
end_index = None