[Parameters]
results_dir = /Users/Christina/DES/magnification/lbgselect/zproboutput/
output_dir = /Users/Christina/DES/magnification/lbgselect/zproboutput/
#/maskedtargets/

#uses z_column to check accuracy of results when target redshift is known
check_truth = False
redshift_column = ZMINCHI2_dfull
id_col_type = int
truth_file = /Users/Christina/DES/data/y1a1_gold_d04_dfull_cosmos_matched.fits
truth_id_column = COADD_OBJECTS_ID_d04

num_files = 1
data_file =
#/Users/Christina/DES/data/sva1_gold_auto_good_regions_no_cosmos.fits
#/Users/Christina/DES/data/y1a1_gold_d04_dfull_cosmos_matched_masked.fits

#'/Users/Christina/DES/data/balrog/sva1/balrog_sva1_tab{}_TRUTH.fits'
#'/Users/Christina/DES/data/y1a1_gold_d04_dfull_cosmos_matched.fits'
#'/Users/Christina/DES/data/y1a1_gold_d04_dfull_cosmos_matched_chunk{}-15.fits'
#'/Users/Christina/DES/data/y1a1_spec_gold_v2_weight_depth.fits'


#variables

#/Users/Christina/DES/data/y1a1_gold_d04_dfull_cosmos_matched.fits
#'/Users/Christina/DES/data/y1a1_gold_flux_auto_griz_000001.fits'
#'/Users/Christina/DES/data/y1a1_gold_flux_auto_griz_masked.fits'
#'/Users/Christina/DES/data/balrog/sva1/balrog_sva1_tab01_TRUTH.fits'
#'/Users/Christina/DES/data/balrog_sva1_TRUTH_zp_corr_fluxes_fixids.fits'
#'/Users/Christina/DES/magnification/lbgselect/mocks/run7/zprob_mock{}.fits'

#name = 'y1a1_gold_cosmosd04_cosmosdfull_matched_bothflagmasked_auto_griz_full_gauss_z3_4bins'
#'y1a1_gold_cosmosd04_cosmosdfull_matched_zminchi2_auto_griz_full_z3_4bins_catmatch_both_flagmasked'
#'y1a1_gold_cosmosdfull_zminchi2_auto_griz_z3_4bins_full_gauss_000001_catmatch'
#'y1a1_gold_cosmosdfull_zminchi2_auto_griz_z3_4bins_full_gauss_000001_0-1000000'
#'sva1_gold_good_regions_cosmos_zminchi2_auto_griz_z3_4bins_full_gauss'
#'balrog_sva1_tab{}_sva1_gold_good_regions_cosmos_zminchi2_auto_griz_z3_4bins_full_gauss'
#'y1a1_gold_cosmosd04_cosmosdfull_matched_zminchi2_auto_griz_full_z3_4bins'
#'y1a1_gold_cosmosd04_cosmosdfull_matched_zminchi2_auto_griz_full_z0.5_3bins_stars'
#'balrog_sva1_tab01_balrogz_auto_noiseless_griz_z3_3bins_full_gauss'
#'sva1_gold_cosmos_zminchi2_auto_griz_z3_3bins_full_gauss'
#'zprob_balrog_sva1_balrogz_z25_3bins_sigma_tree_noiseless_auto_both_zpcorr_griz_tab{}'
#'balrog_sva1_balrogz_noiseless_Efuncnoised_z3_3bins_full_gauss_tab01'
#'y1a1_gold_cosmosd04_cosmosdfull_zminchi2_auto_griz_full_z3_3bins'
#'y1a1_gold_cosmosd04_cosmosdfull_matched_zminchi2_auto_griz_full_2gauss_z3_4bins'
#'y1a1_gold_cosmosd04_cosmosdfull_matched_zminchi2_auto_griz_full_z3_4bins'
#'y1a1_gold_cosmosd04_cosmosdfull_matched_chunk{}-15_zminchi2_auto_griz_full_z0.5_3bins'
#'y1a1_spec_gold_v2_cosmosdfull_zminchi2_auto_griz_full_z3_3bins'
#'zprob_balrog_sva1_auto_cosmos_photoz_griz_zpcorr_full_z2.5_3bins_v2_tab{}'
#'y1a1_gold_cosmosdfull_zminchi2_auto_griz_z3_3bins_full_gauss_000001'
#'balrog_sva1_balrogz_0griz_auto_zpcorr_f1s1_full_z3_3bins_Efunc_tab{}'
#'sva1_gold_cosmosdfull_photoz_auto_griz_z3_3bins_full_gauss_0-500000'
#'y1a1_gold_cosmosdfulld04noised_cosmosdfull_photoz_auto_griz_full_gauss_z3_2bins'
#'y1a1_gold_cosmosd04_cosmosdfull_matched_photoz_auto_griz_full_z3_3bins'
#'y1a1_gold_cosmosd04_cosmosdfull_zminchi2_auto_griz_full_gauss_z3_3bins'
#'y1a1_gold_cosmosd04_cosmosdfull_zminchi2_auto_griz_full_gauss_z3_3bins'
#'zprob_balrog_sva1_auto_cosmos_photoz_griz_zpcorr_full_z2.5_3bins_v2_tab{}'
#'balrog_sva1_balrogz_0griz_auto_zpcorr_f1s1_6culltree_z3_2bins_Efunc_tab{}'
#'run7_mock{}_newL_6culltree'

#'ZMINCHI2_dfull_1'